* {
    padding: 0;
    margin: 0;
    font-weight: 900;
}
.some-user {
    border: 3px solid black;
    width: 15%;
    margin-top: 40px;
    margin-left: 100px;
    padding: 20px;
}
.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.some-user > p {
    margin-top: 20px;

}
.numberoflikes {
    margin-left: 50px;
}
.btn {
    border: 3px solid black;
    box-shadow: 2px 2px black;
    width: 60px;
    background-color: rgb(247, 233, 44);
    padding: 2px 5px;
}